body {
  margin: 0;
  box-sizing: border-box;
}

.headerContainer {
  height: 70px;
  border: 1px solid black;
  background-color: #454545;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.logo {
  cursor: pointer;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 20px;
  color: white;
}

.nav-items li {
  margin: 0 10px;
  cursor: pointer;
}

.login-btn {
  font-size: 20px;
  color: white;
  background-color: red;
  width: 90px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
}

.search {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

.search-bar {
  padding: 10px;
  border: none;
  font-size: 17px;
  background-color: lightgray;
  width: 50%;
  outline: none;
}

.rating-btn button {
  font-size: 17px;
  height: 40px;
  cursor: pointer;
  border-style: none;
  background-color: darkgray;
  border-radius: 5px;
}

.search-btn {
  border-style: none;
  font-size: 17px;
  padding: 10px;
  background-color: lightgray;
  height: 40px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .search-bar {
    width: 40%;
  }
  .rating-btn {
    width: 60%;
  }
}

.Res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.res-card {
  height: 320px;
  width: 230px;
  padding: 10px;
  background-color: #f0f0f0;
  margin: 10px;
  box-shadow: 2px 4px 4px lightblue;
  border-radius: 8px;
  transition: 1s;
}

.res-card:hover {
  cursor: pointer;
  box-shadow: 3px 7px 7px lightslategray;
}

.res-card img {
  width: 100%;
  height: 70%;
  border-radius: 6px;
  box-shadow: 1px 2px 2px gray;
}

.text-card-container {
  font-size: 16px;
  font-weight: 600;
  /* white-space: nowrap; */
  overflow: hidden;
}

.text-card-container div {
  margin: 5px 0;
}

.text-card {
  display: flex;
  justify-content: space-between;
}

.text-card div {
  white-space: nowrap;
  overflow: hidden;
}

.res-name {
  width: 70%;
}

.star {
  background-color: darkgreen;
  color: white;
  width: 20%;
  text-align: center;
  border-radius: 3px;
  font-size: 15px;
}

.cuisines {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.amount {
  width: 20%;
  white-space: nowrap;
  overflow: hidden;
}

.footer {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgray;
}

.footer div {
  margin: 5px 10px;
}
